# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
.viminfo
hs_err_pid*
/DOM1/nbproject/private/
/DOM1/build/
/JavaMarkt/nbproject/private/
/JavaMarkt/build/
/pozyczka/nbproject/private/
/pozyczka/build/
/Bankier/nbproject/private/
/BankPOJ/nbproject/private/
/LAB4/nbproject/private/
/LAB4/build/
/ded/nbproject/private/
/ded/build/
/test/nbproject/private/
/test/dist/
/ded2/nbproject/private/
/ded2/build/
/ded3/nbproject/private/
/ded3/build/
/ded4/nbproject/private/
/ded4/build/
/ded5/nbproject/private/
/ded5/build/
/Hamborgir/nbproject/private/
/Hamborgir/build/